@page "/counter"
@using SignalT.Server.Host.Features.ServerLogs
@inject IServerLogsService ServerLogs
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        ServerLogs.Add(DateTime.UtcNow.ToString("yyyy-MM-dd hh:mm:ss")+" New Row");
    }
}
